In [5]:
for num in range(0,20):
    print("Range is:",num)

Range is: 0
Range is: 1
Range is: 2
Range is: 3
Range is: 4
Range is: 5
Range is: 6
Range is: 7
Range is: 8
Range is: 9
Range is: 10
Range is: 11
Range is: 12
Range is: 13
Range is: 14
Range is: 15
Range is: 16
Range is: 17
Range is: 18
Range is: 19

In [13]:
for num in range(10,20):
    print(num, end="  ")

10  11  12  13  14  15  16  17  18  19

In [21]:
lists=[10,20,14,55,43,87,76,'kalpana']
print(len(lists))

8

In [29]:
print("A\nR\nT\nI\nF\nI\nC\nI\nA\nL\nI\nN\nT\nE\nL\nL\nI\nG\nE\nN\nC\nC\nE\n")

A
R
T
I
F
I
C
I
A
L
I
N
T
E
L
L
I
G
E
N
C
C
E

In [39]:
for x in 'ARITIFICAL INTELLIGENCE':
    print(x)

A
R
I
T
I
F
I
C
A
L

I
N
T
E
L
L
I
G
E
N
C
E

In [43]:
#Personal Details

name=input("Enter your name")
age=int(input("enter ur age"))
profession=input("Enter ur profession")
print("Your name is:",name,"\n","Your age is:",age,"\n","Your profession is:",profession)

Enter your name Kalpana
enter ur age 27
Enter ur profession IT -infra & cloud

Your name is: Kalpana
 Your age is: 27
 Your profession is: IT -infra & cloud

In [49]:
#Mixed datatypes

tup=(1,'welcome',2,'Hope')
print(tup)

(1, 'welcome', 2, 'Hope')

In [57]:
x=(0,1,2,3)
y=('python','hope')
tup=(x,y)
print(tup)

((0, 1, 2, 3), ('python', 'hope'))

In [65]:
x=[10,20,16,19,25,1,276,188]
for y in x:
    if(y%2!=0):
        print(y,": is the odd number")
    else:
        print(y,"is the even number")

10 is the even number
20 is the even number
16 is the even number
19 : is the odd number
25 : is the odd number
1 : is the odd number
276 is the even number
188 is the even number